.skip-to-content {
  background: #000;
  color: #FFF;
  height: rem(30px);
  left: 50%;
  padding: rem(10px);
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;

  &:focus {
	transform: translateY(0%);
  }
}
